@CHARSET "ISO-8859-1"; body {
    background-color: #fefefe;
    overflow: auto;
}

#containerNoImg {
    width: 1024px;
    height: 740px;
    background-color: white;
    margin: 0 auto;
    margin-top: -55px;
    border: medium white solid;
    border-radius: 5px;
    background-color: white;
}
#container {
    width: 1024px;
    height: 740px;
    background-color: white;
    margin: 0 auto;
    margin-top: -55px;
    border: medium white solid;
    border-radius: 5px;
    background: url(../images/TabletFrame2.png) no-repeat center bottom;
    background-color: white;
}
div#controlButton{
    float: left;
    margin-top: 45px;
	cursor: pointer;
}
#agents {
    width: 630px;
    height: 100px;
    margin: 43px 190px;
    border-bottom-style: none;
    border: 0px;
}
#agentsLarge {
    width: 630px;
    height: 600px;
    margin: 43px 190px;
    border-bottom-style: none;
    border: 0px;
}

#mainBody {
    width: 799px;
    height: 490px;

    /* background-color: white; */
    margin: -16px 112px;
    position: absolute;
	}

#displayScoreBoard {
left: 11%;
    top: 284px;
    position: relative;

}

#mainFrame {
    width: 799px;
    height: 490px;
    border: 0px;
    z-index: -1;
}

#home {
    width: 40px;
    height: 40px;
    background-color: black;
    margin: 0auto;
    left: 50%;
    cursor: pointer;
    float: left;
    position: relative;
    top: 480px;

}

#readText {
    width: 30px;
    height: 30px;
    background-color: black;
       top: -30px;
    margin-right: 280px;
    cursor: pointer;
    position: relative;
    float: right;
    /*visibility: hidden;*/
}

#videoDiv {
    width: 799px;
    height: 495px;

    background-color: black;
    position: absolute;
 
    visibility: hidden;
    z-index: -40;
	margin-top: -495px;
}

#vid {
    width: 810px;
    height: 488px;
}

#videoDiv2 {
    width: 799px;
    height: 490px;
    position: relative;
    background-color: black;
    position: absolute;
    margin: -1px 112px;
    visibility: hidden;
    z-index: -40;
}

#vid2 {
    width: 799px;
    height: 488px;
}

#outputJSON {
    width: 799px;
    height: 490px;
    position: relative;
    background-color: white;
    position: absolute;
    margin: 6px 112px;
    visibility: hidden;
    z-index: -40;
}

#textInputDialog {
    width: 800px;
    background-color: #474747;
    left: 11%;
    position: relative;
    top: 400px;
    height: 90px;
}
#displayArea {
      width: 500px;
    /* background-color: #474747; */
    position: relative;
    top: -20px;
    left: 12%;
    position: relative;
    height: 150px;
	z-index: -1;
}

#textInput {
    width: 500px;
    height: 3em;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: McLaren, Verdana, 'Times New Roman';
    font-size: 24px;
    font-weight: normal;
    outline: 0;
    z-index: 10;
    border: 3px solid #999;
    border-radius: 10px;
	position: absolute;
    left: 0;
}

#textInputSubmit {
   margin-left: 8px;
    width: 200px;
    vertical-align: top;
    background-color: #f1f1f1;
    color: #121212;
    text-align: center;
    font-size: 24px;
    font-family: 'McLaren', Verdana, 'Times New Roman';
    font-weight: bold;
    outline: 0;
	z-index: 10;
    border-radius: 10px;
    border: 3px solid #999;
    border-radius: 10px;
    position: absolute;
    left: 70%;
}

#scoreBoardL {
    background-color: #C0C0C0;
    text-align: center;
    width: 100px;
    height: 100px;
    position: absolute;
}

#scoreBoardR {
    background-color: #C0C0C0;
    text-align: center;
    width: 100px;
    height: 100px;
    margin-left: 699px;
    position: absolute;
}

.scoreDisplayName {
    border: 5px;
    width: 89px;
    color: #121212;
    border: 1px solid #f1f1f1;
    font-size: 26px;
}

.score {
    color: #474747;
    font-size: 48px;
}

.no-close .ui-dialog-titlebar {
    display: none;
}

.no-close .ui-dialog-titlebar-close {
    display: none;
}

.pscontainer {
    width: 600px;
    /*border: 2px solid #989898;*/
    border-radius: 3px;
    overflow: hidden;
    display: inline-block;
    margin: 4px 0px 5px -22px;
    vertical-align: top;
    background-color: #d0d0d0;
}

.progressbar {
    color: #fff;
    text-align: right;
    height: 12px;
    width: 0;
    background-color: #51d24d;
    /*#B3240E;*/
    border-radius: 3px;
}

#PB {
    position: relative;
    top: -30px;
    left: 150px;
}
#PB2 {
    position: relative;
    top: -30px;
    left: 230px;
}
#repeat {
    font-family: Lato, Verdana, 'Times New Roman';
    font-size: 20px;
    background-color: #333;
    color: white;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 485px;
    margin-left: 100px;
    float: left;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;
}

#repeat:hover {
    color: #f8ffca;
    border: 1px solid #f8ffca;
}

#btNext {
    font-family: Lato, Verdana, 'Times New Roman';
    font-size: 20px;
    background-color: #333;
    color: white;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: -30px;
    margin-left: 760px;
    float: left;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;
}

#btReplayVideo {
    font-family: Lato, Verdana, 'Times New Roman';
    font-size: 20px;
    background-color: #333;
    color: white;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 485px;
    margin-left: 10px;
    float: left;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;
}

#btNext:hover {
    color: #f8ffca;
    border: 1px solid #f8ffca;
}

#btReplayVideo:hover {
    color: #f8ffca;
    border: 1px solid #f8ffca;
}

#NextPage {
    margin-top: -50px;
    margin-left: 800px;
}

#saveLog {
    margin-left: 350px;
}

.testButton {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
