
#editor{
	display:none;
	top:50%;
	left:50%;
	width:1200px;  /* adjust as per your needs */
	height:1000px;   /* adjust as per your needs */
	margin-left:-600px;   /* negative half of width above */
	margin-top:-500px;   /* negative half of height above */
	position:absolute;
	background:lightGreen; 
	z-index: 100;
}
#tree{
    display: block;
	border:none;
	overflow:hidden;
	background:lightgrey;
	margin-left:20px;
	margin-right:20px;
	width:1160px;
	height:960px;
	overflow: auto;
}
#XMLtree{
	display: none;
	border:none;
	margin-left:20px;
	margin-right:20px;
	width:1160px;
	height:960px;
	overflow: auto;
}
#CommitChanges{
	display: none;
	background:lightgrey;
	margin-left:20px;
	margin-right:20px;
	top:100px;
	width:1160px;
	height:900px;
	overflow: auto;
}
#About{
	display: none;
	background:lightgrey;
	margin-left:20px;
	margin-right:20px;
	top:100px;
	width:1160px;
	height:900px;
	overflow: auto;
}
#Outline{
    display: none;
	border:none;
	overflow:hidden;
	background:lightgrey;
	margin-left:20px;
	margin-right:20px;
	width:1160px;
	height:960px;
	overflow: auto;
}

#TreeTable{
	left:0px;
	height:100%;
	width:100%;
}